.sidebarButton {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0px;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  height: 40px;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
}

.textContainer {
  font-size: 12px;
  flex: auto;
  margin: 0px;
  margin-left: 5px;
}
.textSelected {
  font-size: 14px;
}

.isSelected {
  background-color: rgba(0, 0, 0, 0.2) !important;
  height: 60px;
}

.sidebarButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
