.sidebarButton {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0px;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  color: #f3f3f3;
}

.textContainer {
  font-size: 12px;
  flex: auto;
  margin: 0px;
  margin-left: 5px;
}
.textSelected {
  font-size: 14px;
}

.isSelected {
  background-color: rgba(150, 150, 150, 0.5) !important;
  height: 40px;
}

.sidebarButton:hover {
  background-color: rgba(150, 150, 150, 0.1);
}
